@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --danger-background: rgb(156, 56, 56);
  --urgent-background: rgb(171, 62, 109);
  --important-background: rgb(183, 107, 107);
  --normal-background: rgb(162, 188, 173);
  --optional-background: rgb(156, 165, 197);
}


@media(prefers-color-scheme: light) {
  /*change later to actual light scheme*/
  :root {
    --global-background: rgba(19, 22, 28, 1);
    --global-background-gradient: linear-gradient(0deg,rgba(137, 148, 151, 0.2) 0%, rgba(41, 46, 54, 0.5) 25%,  rgba(19, 22, 28, 1) 50%, rgba(19, 22, 28, 1) 100%);
    --global-foreground: rgba(232, 250, 247, 1);
    --secondary-background: rgba(41, 46, 54, 1);
    --faded-global-foreground: rgba(232, 250, 247, 0.3);
    --faded-secondary-background: rgba(41, 46, 54, 0.4);
  }
}

@media(prefers-color-scheme: dark) {
  :root {
    --global-background: rgba(19, 22, 28, 1);
    --global-background-gradient: linear-gradient(0deg,rgba(137, 148, 151, 0.2) 0%, rgba(41, 46, 54, 0.5) 25%,  rgba(19, 22, 28, 1) 50%, rgba(19, 22, 28, 1) 100%);
    --global-foreground: rgba(232, 250, 247, 1);
    --secondary-background: rgba(41, 46, 54, 1);
    --faded-global-foreground: rgba(232, 250, 247, 0.3);
    --faded-secondary-background: rgba(41, 46, 54, 0.4);
  }
}


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: calc(1em + 0.5rem);
}

img, picture, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;

}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
